<header class="sheet-header">
  <h1>
    <input name="name" type="text" value="{{item.name}}" />
  </h1>
  <div class="sheet-subtitle">{{item.type}}</div>
</header>

<section class="sheet-section">
  <h2>Description</h2>
  <textarea name="system.description" rows="8">{{system.description}}</textarea>
</section>
